@import "./styles/base.scss";

:root {
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  margin-inline: auto;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  animation-name: move-like-a-square;
  animation-duration: 4s;
}

@keyframes move-like-a-square {

  from,
  to {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(10vw, 0);
  }

  50% {
    transform: translate(10vw, 10vw);
  }

  75% {
    transform: translate(0, 10vw);
  }
}